
:root {
    --width: 800px;
}

body {
    display: flex;
    justify-content: center;
    overflow-x: hidden;
    overflow-y: hidden;
}

#image {
    display: block;
    width: var(--width);
    margin:auto;
}

.header {
    display: flex;
    justify-content: center;
}
#artist {
    font-size: 50px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 0;
}
.socail {
    display: flex;
}


#handle {
    margin-left: 10px;
    font-size: 27px;
}
.icon {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
#icon {
    height: 35px;
    display: inline-block;
}

.imgHolder {
  
    height: 1000px;
}
/* Following lines are animations */

@keyframes fadeOut {
    from {
        opacity: 1.0;
    }
    to {
        opacity: 0;
    }
}
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes slideOutR {
    to {
        transform: translate(1000px, 0);
    }
}

@keyframes slideInL {
    from {
        transform: translate(-1000px, 0);
    }
    
}

@keyframes slideOutL {
    to {
        transform: translate(-1000px, 0);
    }
}

@keyframes slideInR {
    from {
        transform: translate(1000px, 0);
    }
    
}

@keyframes shrink {
    to {
        width: 0;
    }
}

@keyframes grow {
    from {
        width: 0;
    }
    to {
        width: var(--width);
    }
}